.plum-input {
  border: 1px solid #282828;
  border-radius: 2px;
  background-color: #3A3A3A;
  box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, .2),
              inset 0 2px 2px -2px rgba(0, 0, 0, .2),
              0 1px 0 rgba(255, 255, 255, .2);
  color: #ffffff;
  font: inherit;
  margin: 1px 0;
  padding: 1px 3px;
}

.plum-input:focus {
  outline: none;
}

.plum-input[disabled] {
  opacity: .4;
}